@use '@angular/material' as mat;

h1 {
    text-align: center;
    margin: 2rem;
}

h3 {
    text-align: justify;
    margin-bottom: .5rem;
}

button {
    margin-top: .8rem;
}

td, th {
    border: 1px solid currentColor;
    padding: 0.5rem;
    text-align: left;
}

ul {
    margin: 0 0 1rem 0;
}

.toggle {
    display: flex;
    justify-content: center;
    margin: 1rem 0 1.5rem 0;
}

.tax-form {
    display: flex;
    flex-direction: column;
}

.error-alert {
    color: red;
    margin-bottom: .8rem;
    margin-left: .2rem;
}

.results-table {
    margin-top: 1rem;
    width: 100%;
    border-collapse: collapse;
}

.bold-row {
    font-weight: 600;
}

.list-wrapper {
    padding-bottom: .5rem;
}