.tax-form {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 2rem;
}

h3 {
    text-align: justify;
    margin-bottom: .5rem;
}

button {
    margin-top: 0.5rem;
}

ul {
    margin: 0;
}

.error-alert {
    color: red;
    margin-bottom: 0.5rem;
    margin-left: 0.2rem;
}

.results-table {
    margin-top: 1rem;
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid currentColor;
    padding: 0.5rem;
    text-align: left;
}
